* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Nunito", sans-serif;
}
ul,
ol {
    list-style: none;
}
/* ----------------Register pages---------------- */
.regimg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.regleft {
    width: 90%;
    margin-left: auto;
    margin-top: 80px;
}
.regheadding {
    font-weight: 700;
    font-size: 34px;
    line-height: 36px;
    color: #11175d;
    margin-bottom: 13px;
}
.regleft p {
    font-size: 20px;
    font-weight: 400;
}
.regInput {
    width: 100%;
    margin-top: 56px;
    position: relative;
}
.regInput .MuiTextField-root {
    width: 75%;
}
.regbutton {
    width: 75%;
    background-color: #5f35f5;
    text-align: center;
    border-radius: 86px;
    margin: 51px 0 35px 0;
}
.regbutton .MuiButton-text {
    color: #ffff;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
}
.rgbspan {
    font-size: 13px;
    font-weight: 700;
    color: #03014c;
}
.rgbspan .reglink {
    color: #ea6c00;
    text-decoration: none;
}
.regalert {
    width: 75%;
}

.regload {
    color: #ffff;
}
.eye_reg{
    position: absolute;
    top: 20px;
    right: 120px;
}
/* ----------------Login pages---------------- */
.logingoogle {
    margin-top: 29px;
}
.loginInput {
    margin-top: 32px;
    position: relative;
}
.loginInput .MuiTextField-root {
    width: 75%;
}
.forget {
    background: #11175d;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgetbody{
    background-color: #fff;
    padding: 30px;
}
.forgetbody h6 {
    margin-bottom: 20px;
}
#outlined-basic{
    width: 100%;
}
.forbutton{
    margin-top: 20px;
}
.eye{
 position: absolute;
 top: 25px;
 right: 110px;
}
/* ----------------Rootlayouts pages---------------- */
.profileName{
    color: #fff;
    padding: 0 5px;
    font-size: 16px;
}
.navcontant {
    width: 100%;
    height: 100vh;
    background: #5f35f5;
    border-radius: 20px;
}
.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile {
    margin: 20px 0 30px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon {
    margin: 20px 0;
    color: #fff;
    font-size: 25px;
    display: inline-block;
    padding: 10px 15px;
}
.active {
    color: #03014c;
    margin: 20px 0;
    font-size: 25px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
}
.box {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    height: 48vh;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
    margin-bottom: 2vh;
}
.list {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}
.list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.grouptop{
    display: flex;
    justify-content: space-between;
}