* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Nunito", sans-serif;
}
ul, ol{
    list-style: none;
}
/* ----------------Register pages---------------- */
.regimg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.regleft {
    width: 90%;
    margin-left: auto;
    margin-top: 80px;
}
.regheadding {
    font-weight: 700;
    font-size: 34px;
    line-height: 36px;
    color: #11175d;
    margin-bottom: 13px;
}
.regleft p {
    font-size: 20px;
    font-weight: 400;
}
.regInput {
    width: 100%;
    margin-top: 56px;
}
.regInput .MuiTextField-root {
    width: 75%;
}
.regbutton {
    width: 75%;
    background-color: #5f35f5;
    text-align: center;
    border-radius: 86px;
    margin: 51px 0 35px 0;
}
.regbutton .MuiButton-text {
    color: #ffff;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
}
.rgbspan {
    font-size: 13px;
    font-weight: 700;
    color: #03014c;
}
.rgbspan .reglink {
    color: #ea6c00;
    text-decoration: none;
}
.regalert {
    width: 75%;
}

.regload {
    color: #ffff;
}

/* ----------------Login pages---------------- */
.logingoogle {
    margin-top: 29px;
}
.loginInput {
    margin-top: 32px;
}
.loginInput .MuiTextField-root {
    width: 75%;
}
/* ----------------Rootlayouts pages---------------- */
.navcontant{
    width: 100%;
    height: 100vh;
    background: #5F35F5;
    border-radius: 20px;
 
}
.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.profile {
 margin-top: 20px;
 width: 50px;
 height: 50px;
 border-radius: 50%;
}